@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap'); 
@import "variables";
@import "breakpoints";

body{
  background-color: $dark-grayish-blue;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
}

.app{
  display: flex;
  height: 100vh;
  
  .app__container{
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 350px;
    width: 350px;
    min-height: 400px;
    width: 400px;
    padding: 5px;
    border-radius: 10px;
    background-color: $grayish-blue;

    @include lg{
      width: 420px;
      max-width: 420px;
      padding: 20px;
      min-height: 330px;
    }
  }

  h5{
    letter-spacing: 3px;
    text-align: center;
    color: $neon-green;
  }
  p{
    text-align: center;
    font-size: 27px;
    font-weight: 800;
    color: $light-cyan;

    @include lg{
    padding-bottom: 30px;
    }
  }
  img.separator{
    width: 100%;
    position: absolute;
    bottom: 70px;
    left: -2px;

  }

  .dice__container{
    position: absolute;
    left: calc(50% - 30px);
    bottom: -25px;
    background-color: $neon-green;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;

    button{
      background-color: $neon-green;
      cursor: pointer;
      border: none;
      
      &:active{
        box-shadow: -1px 1px 45px 12px rgba(82,255,168,0.74);
        -webkit-box-shadow: -1px 1px 45px 12px rgba(82,255,168,0.74);
        -moz-box-shadow: -1px 1px 45px 12px rgba(82,255,168,0.74); 
      }
    }

    img.dice__img{
      transform: translateX(30%);
      transform: translateY(30%);
    }
  }

}
